<router-outlet></router-outlet>

<!-- <div class="bg surface">
  <main class="card surface-2">
    <md-elevation></md-elevation>

    <p class="display-large on-surface-text title">Sign In</p>

    <md-outlined-text-field label="Email" class="email" />

    <md-outlined-text-field label="Password" class="password" />

    <div class="remember-me">
      <md-checkbox />
      <label class="label-large on-surface-text remember-me">Rememer me</label>
    </div>

    <a class="label-large secondary-text forgot-password" href="#">
      Forgot Password?
    </a>

    <div class="actions">
      <md-filled-button class="sign-in">Sign In</md-filled-button>

      <div class="divider">
        <md-divider/>
        <p class="on-surface-text label-large">OR</p>
      </div>

      <md-tonal-button class="register">Register</md-tonal-button>
    </div>
  </main>
</div> -->
